<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="control" class="com.LearnSpring.Controller.UsecaseMapperImpl">
		<property name="mapBillCalculation" ref="mapper"></property>
	</bean>

	<bean id="mapper" class="com.LearnSpring.Mapper.MapBillCalculator">
		<constructor-arg name="cardInterestRate">
			 <map>  
				<entry key="SILVER"  value="12.5"></entry>  
				<entry key="GOLD" value="10.25"></entry>  
				<entry key="PLATINUM" value="9.5"></entry>  
			</map>
		</constructor-arg>
		<constructor-arg ref="calculate"/>
	</bean>

	<bean id="calculate" class="com.LearnSpring.UseCase.TotalBillCalculator">
	</bean>

</beans>